<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decryption -Image</title>
</head>
<body>
    {% include 'navigation.html' %}

    <div class="container mt-5">
        <h1 class="text-center">Decrypt The Image</h1>
        <form class="mt-5" action="{% url 'decryption' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Select Encrypted Image</label><br>
                <input type="file" name="image" class="form-control-file" required>
            </div><br>

            
            <button type="submit" class="btn btn-primary">Decrypt</button>

        </form>

    </div>

    {% if text %}
     <div class="alert alert-success mt-3">
        <h4>Decrypted Massage</h4>
        <p>{{text}}</p>

     </div>

    {% endif %}
    
</body>
</html>